# Dépendances
node_modules/
.expo/

# Fichiers système macOS
.DS_Store

# Builds / caches
dist/
build/
ios/build/
android/app/build/
.expo-shared/
.expo/**/cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript / IDE
*.tsbuildinfo
.vscode/
.idea/

# Env sensibles
.env
.env.*
